.navContainer {
    background-color: #1a1a1a;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  
  .navContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navContainer li {
    margin-right: 20px;
  }
  
  .navContainer li:last-child {
    margin-right: 0;
  }
  
  .navContainer a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
  }
  
  .navContainer a:hover {
    color: #f8c93c;
  }
  
  .navContainer a:before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }
  
  .navContainer a:hover:before {
    transform: scaleX(1);
    transform-origin: right;
  }

  .selected{
    color: #f8c93c !important;
  }